<a href="https://colab.research.google.com/github/amirafshari/pythonTutorial/blob/main/exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Multipication Table with for loops
```
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100 
```

# 2. Check if the first and last element of the list is the same
```
input: [1,2,3,4,5,1]
output: True
```

In [1]:
l = [1,2,3,4,5,1]
if l[0] == l[-1]:
  print(True)

True

# 3. Display numbers divisible by 5 from a list
```
input: [7,8,9,10,12,15,21]
output: [10, 15]
```

In [2]:
for e in l:
  if e % 5 == 0:
    print(e)

5

# 4. Print the following pattern
```
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
```

# 5. Check Palindrome Number
```
input: 12321
output: True
```

# 6. Create a new list from a two list using the following condition
Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list
```
input:
[1,2,3,4]
[5,6,7,8]
output:
[1,3,6,8]
```

[1]

# 7. Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.
```
input:
12345
output:
54321
```

# 8. Print list in reverse order using a loop
```
input:[1,2,3,4,5]
output: [5,4,3,2,1]
```

#  9. Display Fibonacci series up to 10 terms
```
1, 1, 2, 3, 5, 8, 13, 21, 34, 55
```

In [4]:
n = 10
seq = [0,1]

if n > 2:
  for i in range(2,n-1):
    next_element = seq[i-2] + seq[i-1]
    seq.append(next_element)
print(seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

# 10. Write a program to display all prime numbers within a range
```
input: 15
output: 2,3,5,7,11,13
```

In [5]:
 l = list(range(15))

 for n in l:
   for i in range(2, n-1):
     if n % i == 0:
       print(f'{n} is not prime!')
       break

4 is not prime!
6 is not prime!
8 is not prime!
9 is not prime!
10 is not prime!
12 is not prime!
14 is not prime!

# 11. Use a loop to display elements from a given list present at odd index positions
```
input: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
output: b d f h
```

# 12. Calculate the cube of all numbers from 1 to a given number
```
input: 4
output: 1,8,27,64
```

# 13. Turn every item of a list into its square
```
input: [1,2,3,4,5,6]
output: [1,4,9,14,25,36]
```

# 14. Python program to interchange first and last elements in a list
```
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]
```

# 15. find length of list
```
input: ['a', 'b', 'c']
output: 3
```