<a href="https://colab.research.google.com/github/amirafshari/pythonTutorial/blob/main/exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Check if the first and last element of the list is the same
```
input: [1,2,3,4,5,1]
output: True
```

In [ ]:
l = [1,2,3,4,5,1]
if l[0] == l[-1]:
  print(True)

True

# 3. Display numbers divisible by 5 from a list
```
input: [7,8,9,10,12,15,21]
output: [10, 15]
```

In [ ]:
for e in l:
  if e % 5 == 0:
    print(e)

5

# 4. Print the following pattern
```
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
```

In [1]:
for i in range(1,6):
  print(f'{i} '*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# 5. Check Palindrome Input
```
input: 12321
output: True

input: hannah
output: True
```

In [8]:
inp = input()

var = list(inp)
reverse = var[::-1]

if var == reverse:
  print(True)
else:
  print(False)

hannah
True

# 6. Create a new list from a two list using the following condition
Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list
```
input:
[1,2,3,4]
[5,6,7,8]
output:
[1,3,6,8]
```

In [11]:
firstList = [1,2,3,4]
secondList = [5,6,7,8]

newList = []
for i in firstList:
  if not (i % 2 == 0):
    newList.append(i)

for j in secondList:
  if j % 2 == 0:
    newList.append(j)

print(newList)

[1, 3, 6, 8]

# 8. Print list in reverse order using a loop
```
input:[1,2,3,4,5]
output: [5,4,3,2,1]
```

In [7]:
myList = [1,2,3,4,5]

myList.reverse() # myList[::-1]

print(myList)

[5, 4, 3, 2, 1]

#  9. Display Fibonacci series up to 10 terms
```
1, 1, 2, 3, 5, 8, 13, 21, 34, 55
```

In [ ]:
n = 10
seq = [0,1]

if n > 2:
  for i in range(2,n-1):
    next_element = seq[i-2] + seq[i-1]
    seq.append(next_element)
print(seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

# 10. Write a program to display all prime numbers within a range
```
input: 15
output: 2,3,5,7,11,13
```

In [ ]:
 l = list(range(15))

 for n in l:
   for i in range(2, n-1):
     if n % i == 0:
       print(f'{n} is not prime!')
       break

4 is not prime!
6 is not prime!
8 is not prime!
9 is not prime!
10 is not prime!
12 is not prime!
14 is not prime!

# 11. Use a loop to display elements from a given list present at odd index positions
```
input: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
output: b d f h
```

In [6]:
myList = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

output = []
index = 0
for e in myList:
  if index % 2 == 0:
    pass
  else:
    output.append(e)

  index += 1

print(output)

['b', 'd', 'f', 'h']

# 12. Calculate the cube of all numbers from 1 to a given number
```
input: 4
output: 1,8,27,64
```

In [5]:
n = 4

for i in range(1,n+1):
  print(i**3)

1
8
27
64

# 13. Turn every item of a list into its square
```
input: [1,2,3,4,5,6]
output: [1,4,9,16,25,36]
```

In [4]:
myList = [1,2,3,4,5,6]

square = []
for e in myList:
  square.append(e**2)

print(square)

[1, 4, 9, 16, 25, 36]

# 14. Python program to interchange first and last elements in a list
```
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]
```

In [10]:
myList = [12, 35, 9, 56, 24]

first_element = myList[0]
last_element = myList[-1]

myList[0] = last_element
myList[-1] = first_element

print(myList)

[24, 35, 9, 56, 12]
[24, 35, 9, 56, 12]

# 15. find length of list
```
input: ['a', 'b', 'c']
output: 3
```

In [2]:
myList = ['a', 'b', 'c']

i = 0
for e in myList:
  i += 1

print('Length: ', i)

Length:  3