<a href="https://colab.research.google.com/github/amirafshari/pythonTutorial/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Define a list

In [ ]:
emptyList = []

myList = [1,2,3,4,5]

myList1 = ['a', 'b', 'c', 'd']

myList2 = [1, 'a', 'f', 43, 21, 'John', ['a list'], (1,2)]

In [ ]:
iList = list(range(22))
print(iList)

### List Comprehensions
```
[i for i in range() if condition]
```

In [ ]:
myList = [i for i in range(1,50)]
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
myList = [i/3 for i in range(100) if i % 6 == 0]
print(myList)

[0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0, 24.0, 26.0, 28.0, 30.0, 32.0]

# Accessing elements of a list
**In Computer Science We alway count from 0**

### Selcting

In [ ]:
myList = ['a', 'b', 'c', 'd', 'e']

print(myList[0])
print(myList[-1])
print(myList[-2])

a
e
d

### Slicing

```
list[start:end:step]
```

In [ ]:
myList = list(range(1,50,2))
print(myList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
print(myList[:10:1])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
print(myList[::10])

[1, 21, 41]

# List Methods

### reverse()

In [ ]:
myList.reverse()
print(myList)

['e', 'd', 'c', 'b', 'a']

### append()

In [ ]:
emptyList = []

emptyList.append('new element')

print(emptyList)

['new element']

### index()

In [ ]:
myList = [10, 15, 20, 25]

print(myList.index(25))

### insert()

In [ ]:
myList = ['apple', 'bannana', 'orange', 'fruit']

myList.insert(1, 'cherry')

print(myList)

['apple', 'cherry', 'bannana', 'orange', 'fruit']

### pop()
**Removes items by index**

In [ ]:
myList = ['apple', 'bannana', 'orange', 'fruit']

myList.pop(-1)

print(myList)

['apple', 'bannana', 'orange']

### remove()
**Removes items by item**

In [ ]:
myList = ['Tehran', 'Berlin', 'London', 'NY']

myList.remove('Berlin')

print(myList)

['Tehran', 'London', 'NY']