<a href="https://colab.research.google.com/github/amirafshari/pythonTutorial/blob/main/sess2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists (a brief introduction)

### Define a list
we use **[ ]** to define a list

we can't use **"list"** for our variable name, beacuse it's a python keyword

In [ ]:
myList = [] # This is an empty list

myList2 = [1,2,3,4,5] # a list of integers

myList3 = ['apple', 'bannana', 'pineapple', 'orange'] # a list of fruits

myList4 = ['1', 2, 'John', 3.14, [], [1,23], 'b'] # a list can contain anything!

### Access the elements of the list
We can access the elements of a list by their **"index"**

We always count from 0 in computer science!

In [ ]:
myList = ['Berlin', 'Toronto', 'New York', 'Koln', 'Amsterdam']

print(myList[0])
print(myList[1])
print(myList[2])
print(myList[3])
print(myList[4])

Berlin
Toronto
New York
Koln
Amsterdam

# Comparison Operations

In [ ]:
print(2 > 3)

False

In [ ]:
print(5 > 1.5)

True

In [ ]:
print(10 == 10)

True

In [ ]:
print(13 != 5)

True

In [ ]:
str1 = 'aksjnfndfjndj'
str2 = 'aksjnfndfjndj'
str3 = 'aksjmfndfjndj'

print(str1 == str2)
print(str1 == str3)

True
False

In [ ]:
print(14 >= 14) # Greater or equal

print(14 <= 15) # Less or equal

True
True

In [ ]:
age = 18
age == 18

True

In [ ]:
age == 19

False

## If Statement
**Syntax:**
```
if condition:
  expression

elif condition:
  expression
  
elif condition:
  expression
.
.
.
else:
  expression
```

In [ ]:
age = 16

if age > 18:
  print('You are old enough to use Google Colab!')
else:
  print('Age restriction!')

Age restriction!

In [ ]:
age = 16

if age < 4:
  price = 0
  print(f'Your admission cost is {price}')
elif age < 18:
  price = 25
  print(f'Your admission cost is {price}')
elif age < 65:
  price = 40
  print(f'Your admission cost is {price}')
else:
  price = 20
  print(f'Your admission cost is {price}')

Your admission cost is 25